.one{
    height: 570px;
    border-bottom-left-radius: 125px;
    background-image: url("..//image/bg-pattern-intro.svg");
    background-position: center;
}
.left {
    display: flex;
    margin-left: 747px;
    margin-top: 18px;
}
li{
    text-align: center;
    color: white;
}
.log{
    flex: 1;
    text-align: center;
    color: white;
}
.sign {
    width: 172px;
    height: 40px;
    border-radius: 20px;
    color: rgb(226, 50, 50);
    border: 4px solid white;
    background-color: white;
    flex: 1;
    text-align: center;
}
.two{
    background-color: white;
    color: orange;
    border-radius: 30px;
    height: 45px;
    width: 145px;
}
.twos{
    border: white 1px solid;
    color: orange;
    border-radius: 30px;
    height: 45px;
    width: 145px;
}
.nice{
    margin-top: 30px;
    color: darkgrey;
    font-size: 14px;
}
.editor{
    margin-top: -86px;
    width: 105%;
}
.four{
    margin-top: 130px; height: 350px;  
    background-color: #230b42 ; 
    border-bottom-left-radius: 115px; 
    border-top-right-radius: 115px;
}
.bold{
    background-image: url("../image/bg-pattern-circles.svg");
    background-position: bottom;
}
.editors{
    margin-top: -69px;
    width: 65%;
}
.editored{
    margin-top: -57px;
    width: 105%;
}
.tin{
    height: 300px;
    border-top-right-radius: 115px;
}
.logo2{
    font-size: 35px;
    font-family: sans-serif;
    color: white;
    padding-top: 40px;
    text-align: center;
}
h5{
    color: white;
    font-family: monospace;
    text-align: center;
    margin-top: 50px;
}
.pass{
    color: white;
    text-align: center;
}
.pass:hover{
    color:  #2bcfd0;
    border-bottom: solid white 1px;
    border-bottom-width: 3px;
}